<h1>Do you like it, Kanye?</h1>
<p>Look your lyrics over with Kanye.</p>
<form>
  <textarea name="words" id="words" cols="30" rows="10" placeholder="Enter your lyrics here"></textarea>
  <input type="submit" value="Ya approve?">
</form>
<img src="" alt="">
