<header>
  <h1>Do you like it, Kanye?</h1>
  <p>Look your lyrics over with Kanye.</p>
</header>

<form>
  <input type="text" name="author" placeholder="Your Name" /><br>
  <textarea name="words" id="words" cols="30" rows="10" placeholder="Enter your lyrics here"></textarea>
  <input type="submit" value="Ya approve?" name="approve" />
</form>

<div id="approval">
  <h1></h1>
  <img src="" alt="">
</div>

<div id="feed">
  <div id="feed-tab" class="stick">
    <p>SAVED</p>
  </div>
  <aside>
    <h1>Lyric Feed</h1>
    <em>Check out some saved lyrics, below. If you don't like any, delete 'em. If you want to contribute, archive 'em from the form, at left.</em>
    <ul id="saved">
    </ul>
  </aside>
</div>
